@font-face {
    font-family: pretendard;
    font-weight: 700;
    src: url(../font/Pretendard-Bold.ttf);
}
@font-face {
    font-family: pretendard;
    font-weight: 500;
    src: url(../font/Pretendard-Regular.ttf);
}
body {font-family: pretendard, sans-serif;}
header {text-align: right; position: absolute; width:100%;}
header .icons {padding: 30px 260px 10px; position:relative; z-index: 999;}
header .icons a {margin-right: 20px;}
header .icons a:last-child,
header .tabs .tab_left .event a:last-child,
header .tabs .tab_right a:last-child {margin: 0;}
header .icons a img {}
header .tabs {padding: 0 260px; display: flex; align-items: center; justify-content: space-between; position:relative; z-index: 999;}
header .tabs > * a {font-size: 1.125rem; font-weight: 600;}
header .tabs .tab_left {display: flex; align-items: center;}
header .tabs .tab_left h1 {margin-right: 50px;}
header .tabs .tab_left h1 a {}
header .tabs .tab_left h1 a img {}
header .tabs .tab_left .event {}
header .tabs .tab_left .event a,
header .tabs .tab_right a {margin-right: 20px;}
header .tabs .tab_left .event a:hover,
header .tabs .tab_right a:hover {color:#CF0A2C;}
header .tabs .tab_right {}
header .tabs .tab_right a {}
header .tabs .tab_right a em {color:#CF0A2C; font-size: 1rem;}
header .menu {background-color: #fff; padding: 0 260px 77px; height:606px; position: absolute; top:0; width:100%; z-index: 10; display:none;}
header .menu.on {display:block;}
header .menu .menu_cont {position:relative; top:187px; display: flex; flex-flow:row nowrap; justify-content: space-between;}
header .menu .menu_cont .menu-slide {border-radius: 10px; overflow:hidden; height:342px; width:425px; position:absolute; top:0;}
header .menu .menu_cont .menu-slide .swiper-wrapper {}
header .menu .menu_cont .menu-slide .swiper-wrapper .swiper-slide {}
header .menu .menu_cont .menu-slide .swiper-wrapper .swiper-slide a {}
header .menu .menu_cont .menu-slide .swiper-wrapper .swiper-slide a img {}
header .menu .menu_cont .menu_text {display: flex; text-align: left; position:absolute; right:0;}
header .menu .menu_cont .menu_text li {display:flex; flex-flow:column nowrap; margin-right: 140px; position:relative;}
header .menu .menu_cont .menu_text li::after {
    content: ''; display: block; width:1px; height:342px; background-color: #ddd; position:absolute; right:-70px; 
}
header .menu .menu_cont .menu_text li:last-child {margin:0;}
header .menu .menu_cont .menu_text li:last-child::after {display:none;}
header .menu .menu_cont .menu_text li .menu_title {margin-bottom: 30px; font-weight: 500; font-size: 1.125rem;}
header .menu .menu_cont .menu_text li .menu_list {display:flex; flex-flow:column nowrap;}
header .menu .menu_cont .menu_text li .menu_list a {margin-bottom: 25px;}
header .menu .menu_cont .menu_text li .menu_list a:hover {font-weight: 600;}
header .menu .menu_cont .menu_text li .menu_list a:last-child {margin:0;}
header .searching {background-color: #fff; padding: 0 260px 77px; height:606px; position: absolute; top:0; width:100%; z-index: 10; display:none;}
header .searching.on {display: block;}
header .searching .searching_detail {
    position:relative; top:181px; width:100%;
}
header .searching .searching_detail .search_bar {
    width:100%; line-height: 50px; border-radius: 25px; border:1px solid #ddd; background-color: #fff; display:flex; overflow:hidden; align-items: center;
}
header .searching .searching_detail .search_bar input {width:100%; line-height: 50px; border: 0; padding: 0 50px; font-size: 1.25rem; font-family: pretendard;}
header .searching .searching_detail .search_bar input:focus {outline:none;}
header .searching .searching_detail .search_bar a {margin-right: 50px;}
header .searching .searching_detail .search_bar a img {}
header .searching .searching_detail .search_content {display: flex; justify-content: space-between; height:254px; margin-top: 50px;}
header .searching .searching_detail .search_content .content_left {
    display:flex; text-align: left; justify-content: space-between;
}
header .searching .searching_detail .search_content .content_left .search_ranking1 {width:max-content;}
header .searching .searching_detail .search_content .content_left .search_ranking1:first-child {margin-right: 100px;}
header .searching .searching_detail .search_content .content_left .search_ranking1 h3 {margin-bottom: 30px; font-size: 1.125rem; font-weight: 500;}
header .searching .searching_detail .search_content .content_left .search_ranking1 .search_ranking1_slide {}
header .searching .searching_detail .search_content .content_left .search_ranking1 .search_ranking1_slide .swiper-wrapper {height:200px;}
header .searching .searching_detail .search_content .content_left .search_ranking1 .search_ranking1_slide .swiper-wrapper .swiper-slide {display:flex; flex-flow: column nowrap; justify-content: space-between;}
header .searching .searching_detail .search_content .content_left .search_ranking1 .search_ranking1_slide .swiper-wrapper .swiper-slide a {color:#646464;}
header .searching .searching_detail .search_content .content_left .search_ranking1 .search_ranking1_slide .swiper-wrapper .swiper-slide a:hover {font-weight: 500; color:#000;}
/* 공통 */
main {}
main .part {padding:80px 260px;}
main .part .title {margin-bottom: 40px;}
main .part .title h2 {font-size: 1.875rem; margin-bottom: 10px; font-weight: 600;}
main .part .title p {font-size: 1.25rem; color:#595959;}
main .part > * .swiper-pagination {position:relative; margin-top: 40px;}
main .part > * .swiper-pagination-bullet { opacity:1; background-color: #d9d9d9;}
main .part > * .swiper-pagination-bullet-active {background: #CF0A2C;}
main .part > * .swiper-button-prev::after,
main .part > * .swiper-button-next::after {color:#DEDEDE; font-size: 2rem;}
/* ======================part1 */
main .part1 {padding:0; position:relative;}
main .part1 #main_ad_slide {}
main .part1 #main_ad_slide .swiper-wrapper {}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide {}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a {
    width:100%;
    display:flex; justify-content: center;
    flex-flow: column nowrap;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad {
    width:1920px; height: 950px; position:relative;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad img {
    width:100%;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad_text {
    position:absolute; padding: 0 260px;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad_text .top {margin-bottom: 50px;}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad_text .top p {
    margin-bottom: 5px; font-size: 1.563rem;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad_text .top h2 {
    font-size: 3.125rem; font-weight: 700; color: #CF0A2C;
}
main .part1 #main_ad_slide .swiper-wrapper .swiper-slide a .ad_text > p {font-size: 1.563rem; line-height: 1.5;}
main .part1 #main_ad_slide .swiper-pagination {position:absolute; bottom:80px;}
/* ======================part2 */
main .part2 {}
main .part2 .title {}
main .part2 .title h2 {}
main .part2 .title p {}
main .part2 .big_menu {
    display:grid;
    grid-template-areas: 
    'sunscreen sunscreen cleansing cleansing'
    'sunscreen sunscreen cream mask';
    border-radius: 10px; overflow: hidden;
}
main .part2 .big_menu a {position:relative; display:flex; justify-content: center; overflow: hidden;}
main .part2 .big_menu a:nth-child(1) {grid-area: sunscreen;}
main .part2 .big_menu a:nth-child(2) {grid-area: cleansing; }
main .part2 .big_menu a:nth-child(3) {grid-area: cream;}
main .part2 .big_menu a:nth-child(4) {grid-area: mask;}
/* main .part2 .big_menu a:nth-child(1) {grid-area: sunscreen; width:700px; height:670px;}
main .part2 .big_menu a:nth-child(2) {grid-area: cleansing; width:700px; height:335px;}
main .part2 .big_menu a:nth-child(3) {grid-area: cream; width:350px; height:335px;}
main .part2 .big_menu a:nth-child(4) {grid-area: mask; width:350px; height:335px;} */
main .part2 .big_menu a img {width:100%; transition: 0.3s;}
main .part2 .big_menu a img:hover {transform: scale(1.1);}
main .part2 .big_menu a:nth-child(1) span {font-size: 2.5rem;}
main .part2 .big_menu a span {
    position: absolute;  bottom:0; width:max-content;
    font-size: 1.875rem; font-weight: 300; color:#fff; margin-bottom: 20px;
}
/* ======================part3 */
main .part3 {}
main .part3 .ranking {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 40px;}
main .part3 .ranking .title {margin:0;}
main .part3 .ranking .title h2 {}
main .part3 .ranking .title p {}
main .part3 .ranking .ranking_tab {}
main .part3 .ranking .ranking_tab a {margin-right: 30px; color: #595959;}
main .part3 .ranking .ranking_tab a:first-child {color:#CF0A2C; font-weight: 600;}
main .part3 .ranking .ranking_tab a:hover {font-weight: 600;}
main .part3 .ranking .ranking_tab a:last-child:hover {font-weight: 400;}
main .part3 .ranking .ranking_tab a:last-child {margin:0;}
main .part3 .ranking_pdt_wrap {}
main .part3 .ranking_pdt_wrap .pdt_slide {display: none;}
main .part3 .ranking_pdt_wrap .pdt_slide:first-child {display: block;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide {
    display: flex; align-items: flex-end;
}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt {width: 335px; margin-right: 20px;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .img {position: relative;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .img img {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info {height:129px; display: flex; flex-flow: column nowrap; justify-content: space-between;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info h2 {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .price {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .price .sale {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .price .total {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .price .origin {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .star {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .star img {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .info .star span {}
/* part3 공통 */
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .pdt a .img {border-radius: 10px 10px 0 0; overflow: hidden;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > .pdt a .img span,
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .pdt a .img span {position: absolute; top:0; left:0; background-color: #CF0A2C; color:#fff; width:30px; height:30px; border-radius: 10px 0 0 0; text-align: center; padding-top: 5px; z-index: 999;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info {padding:10px 20px; border-radius: 0 0 10px 10px;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info h2 {line-height: 1.5;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price {display: flex; align-items: center; margin:5px 0;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price .sale {font-weight: 600; color:#CF0A2C;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price .sale,
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price .total {font-size: 1.25rem;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price .total {margin: 0 10px; font-weight: 700;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide > * .info .price .origin {color:#9f9f9f;}
/* part3 공통 끝 */
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt {display:flex; flex-flow: column nowrap;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt h3 {
    font-size: 1.875rem; font-weight: 600; line-height: 1.5; color:#d9d9d9; margin:0 auto 20px;
}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt .pdt_list {display:flex; justify-content: space-between;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt .pdt_list .pdt {position:relative; width:251px;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt .pdt_list .pdt a {}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt .pdt_list .pdt a .info {height: 129px; display: flex; flex-flow: column nowrap; justify-content: space-between;}
main .part3 .ranking_pdt_wrap .pdt_slide .swiper-wrapper .swiper-slide .other_pdt .pdt_list .pdt a .info > h2:first-child {height:48px;}
/* ======================part4 */
main .part4 {background-image: url(../images/part4_bg.jpg); height:682px; margin:80px 0;}
main .part4 .title {text-align: center;}
main .part4 .title h2 {}
main .part4 .title a {}
main .part4 #sun_slide {}
main .part4 #sun_slide .swiper-wrapper {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul {display:flex; justify-content: space-around; width:100%;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .img {margin-bottom: 10px;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .img img {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info {text-align: center;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info h2 {}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .price {margin:15px 0;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .price del {color:#9F9F9F;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .price em {font-size: 1.25rem; font-weight: 700;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .spf {display: flex; align-items: center; justify-content: center;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .spf span {margin-right:5px;}
main .part4 #sun_slide .swiper-wrapper .swiper-slide ul li a .info .spf img {}
/* ======================part5 */
main .part5 {padding:0;}
main .part5 #ad_slide {position:relative;}
main .part5 #ad_slide .swiper-wrapper {}
main .part5 #ad_slide .swiper-wrapper .swiper-slide {}
main .part5 #ad_slide .swiper-wrapper .swiper-slide a {}
main .part5 #ad_slide .swiper-wrapper .swiper-slide a img {width:100%;}
main .part5 #ad_slide .swiper-pagination {position:absolute; bottom:40px;}
/* ======================part6 */
main .part6 {margin-top: 80px;}
main .part6 .title {}
main .part6 .title h2 {}
main .part6 .title p {}
main .part6 #buy_first_slide {}
main .part6 #buy_first_slide .swiper-wrapper {}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide {display:flex; justify-content: space-between;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a {width:340px;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .img {}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .img img {}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info {text-align: center; padding: 8.5px 0;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .main_info {margin-bottom: 10px;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .main_info p {font-weight: 600; margin-bottom: 5px;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .main_info h2 {}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .price {}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .price del {color:#9F9F9F;}
main .part6 #buy_first_slide .swiper-wrapper .swiper-slide a .info .price em {
    font-size: 1.25rem; color:#CF0A2C; margin-left: 10px; font-weight: 700;
}
/* ======================part7 */
main .part7 {}
main .part7 .part7_title {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 40px;}
main .part7 .part7_title .title {margin:0;}
main .part7 .part7_title .title h2 {}
main .part7 .part7_title .title p {}
main .part7 .part7_title a {}
main .part7 #review_slide {}
main .part7 #review_slide .swiper-wrapper {}
main .part7 #review_slide .swiper-wrapper .swiper-slide {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a {display:flex; border: 1px solid #ddd; border-radius: 10px; height:221px;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .img {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .img img {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review {padding: 20px 40px; width:100%; display:flex; flex-flow: column nowrap; justify-content: center;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title {display:flex; justify-content: space-between; margin-bottom: 30px; font-size: 1.125rem; color:#595959;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .left {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .left span {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .left span em {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .right {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .right span {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .right span::after {content: ''; background-color: #ddd; width:1px; height:15px; display: inline-block; margin: 0 10px;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_title .right span:last-child::after {display: none;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents {display:flex; justify-content: space-between; align-items: center;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents::after {
    content: ''; width:1px; height:91px; display:inline-block; background-color: #ddd; transform: translateX(-420px);
}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents .contents_title {text-align: center; width:500px;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents .contents_title p {margin-bottom: 10px;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents .contents_title p img {}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents .contents_title h3 {font-size: 1.25rem; font-weight: 700;}
main .part7 #review_slide .swiper-wrapper .swiper-slide a .review .review_contents .contents_text {width:calc(100% - 553px); line-height: 1.7; margin-left: 93px;}
/* ======================part8 */
main .part8 {background-color: #F6F6F6; text-align: center; margin:80px 0;}
main .part8 .time {margin-bottom: 40px;}
main .part8 .time > p {font-size: 1.25rem; font-weight: 700; color:#CF0A2C; margin-bottom: 10px;}
main .part8 .time .timeout {}
main .part8 .time .timeout .time_num {display:flex; align-items:center; justify-content: center; font-size: 3.125rem; font-weight: 700; margin-bottom: 10px;}
main .part8 .time .timeout .time_num .hour {}
main .part8 .time .timeout .time_num > p {font-size: 3.125rem; margin:0 10px;}
main .part8 .time .timeout .time_num .min {}
main .part8 .time .timeout .time_num .sec {}
main .part8 .time .timeout .time_text {}
main .part8 .time .timeout .time_text span:nth-child(2) {margin:0 60px;}
main .part8 #sale_slide {}
main .part8 #sale_slide .swiper-wrapper {}
main .part8 #sale_slide .swiper-wrapper .swiper-slide {border-radius: 10px; overflow: hidden;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a {display: flex;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .img {overflow:hidden;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .img img {}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents {width:calc(100% / 2); background-color: #fff; display: flex; flex-flow: column nowrap; justify-content: center;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents > h2 {margin-bottom: 25px; font-size: 1.563rem; font-weight: 700;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail {}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail h2 {
    font-size: 1.25rem; margin-bottom: 10px;
}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail .price {}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail .price span {
    font-size: 1.563rem; font-weight: 700; color:#CF0A2C;
}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail .price span:nth-child(2) {color:#000; margin: 0 26px;}
main .part8 #sale_slide .swiper-wrapper .swiper-slide a .contents .detail .price del {
    font-size: 1.25rem; color:#9F9F9F;
}
/* ======================part9 */
main .part9 {}
main .part9 .title {display:flex; justify-content: space-between; align-items: flex-end;}
main .part9 .title h2 {}
main .part9 .title a {}
main .part9 #update_slide {}
main .part9 #update_slide .swiper-wrapper {}
main .part9 #update_slide .swiper-wrapper .swiper-slide {border:1px solid #DDDDDD; border-radius: 10px;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a {display:flex; justify-content: space-between; border-radius: 10px; overflow: hidden;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents {display:flex; background-color: #f6f6f6; padding: 20px 90px; justify-content: space-between; width:calc(100% - 613px); align-items: center;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .big_title {margin-bottom: 50px;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .big_title h2 {font-size: 1.875rem; font-weight: 600; margin-bottom: 10px;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .big_title p {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title {margin-bottom: 15px;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .small_text {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .small_text h2 {font-size: 1.25rem; font-weight: 600; line-height: 1.5;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .small_text p {font-size: 1.25rem; color:#9f9f9f; line-height: 1.5;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .price {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .price span {font-size: 1.875rem; font-weight: 700; color:#CF0A2C; line-height: 1.5;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .left .small_title .price del {font-size: 1.25rem; color:#9F9F9F; margin-left: 26px;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .right {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .contents .right img {}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .img {width:613px;background-color: #fff;}
main .part9 #update_slide .swiper-wrapper .swiper-slide a .img img {width:100%;}
/* ======================part10 */
main .part10 {}
main .part10 .title {display:flex; justify-content: space-between; align-items: center; position:relative;}
main .part10 .title h2 {}
main .part10 .title .page_btn {}
main .part10 .title .page_btn .swiper-button-next::after,
main .part10 .title .page_btn .swiper-button-prev::after {color:#bababa; font-size: 1.75rem;}
main .part10 .title .page_btn .swiper-button-prev {margin-left: 1270px;}
main .part10 #line_up_slide {position:relative;}
main .part10 #line_up_slide .swiper-wrapper {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide {margin-top: 20px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .function {border-radius: 10px; overflow: hidden;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .function img {width:100%;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list {display:flex; justify-content: space-between; margin-top: 20px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .img {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .img img {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info {padding:10px 20px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info p,
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .price .origin,
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .star span {color: #9f9f9f;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info h2 {margin-top: 5px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .price {display:flex; align-items: center; margin: 15px 0 5px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .price .sale {color:#CF0A2C; font-size: 1.25rem; font-weight: 600;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .price .total {font-size: 1.25rem; font-weight: 700; margin: 0 10px;}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .price .origin {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .star {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .star img {}
main .part10 #line_up_slide .swiper-wrapper .swiper-slide .pdt_list .pdt a .info .star span {}
main .part10 #line_up_slide .swiper-scrollbar {position:absolute; top:0; left:0; height:5px;}
main .part10 #line_up_slide .swiper-scrollbar-drag {background: #bababa;}
main .part10 #line_up_slide .swiper-button-prev::after,
main .part10 #line_up_slide .swiper-button-next::after {
    color:#bababa;
}
/* ======================footer */
footer {background-color: #F1F1F1; padding: 80px 260px; font-size: 0.875rem; height:420px;}
footer .bank {display: flex; justify-content: space-between; align-items: center;}
footer .bank p {}
footer .bank p img {}
footer .bank > ul {display: flex;}
footer .bank > ul > li {border:1px solid #929292; border-radius: 10px; padding:10px 20px; width:216px; position:relative;}
footer .bank > ul > li:first-child {margin-right: 20px;}
footer .bank > ul > li > span {display:flex; justify-content: space-between;}
footer .bank > ul > li > span span {font-weight: 600;}
footer .bank > ul > li > span img {}
footer .bank > ul > li ul {display:none; position:absolute; left:0; top: 38px; background-color: #ffffff; width:216px; padding:20px; border-radius: 10px;}
footer .bank > ul > li ul li {margin-bottom: 15px;}
footer .bank > ul > li ul li a:hover {font-weight: 600;}
footer .bank > ul > li ul li:last-child {margin:0;}
footer .info {display: flex; justify-content: space-between; margin-top: 28px;}
footer .info .detail_info {display: flex; flex-flow: column nowrap;}
footer .info .detail_info span {margin-bottom: 10px;}
footer .info .detail_info span:last-child,
footer .info .detail_info .company_link a:last-child,
footer .info .sns a:last-child {margin:0;}
footer .info .detail_info .company_link {margin-top: 20px;}
footer .info .detail_info .company_link a {font-weight: 600; margin-right: 20px;}
footer .info .sns {display: flex;}
footer .info .sns a {margin-right: 20px;}